rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que usuários autenticados acessem seus próprios dados
    match /usuarios/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /carrinhos/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /pedidos/{document} {
      allow read, write: if request.auth != null;
    }
  }
}