.container_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: auto;
}

.details {
  min-height: 80%;
}

.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  height: 40px;
}

.title {
  font-size: 2rem;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 700px;
  align-items: center;
}

.image {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

.text {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.nome_details {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.preco_details {
  font-size: 1.2rem;
  color: #008000;
  margin-bottom: 15px;
}

.descricao_details {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
}

.input_quantidade {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.botao_carrinho {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}

.botao_carrinho:hover {
  background-color: #218838;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.descricao_container {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.descricao {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .container_details{
    padding: 20px;
    margin-top: 70px;
  }

  .card {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .image {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .descricao_container {
    width: 100%;
  }
}