.footer {
  background-color: #19355b;
  color: #fff;
  padding: 1.5em;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list a {
  margin: 0 1em;
  color: #1375fd;
}

.social_list a:hover {
  color: #65a0f3;;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copy_right {
  margin-top: 2em;
}

.copy_right span {
  font-weight: bold;
  color: #4c86d8;
}
